* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #989994;
}
header {
    background: linear-gradient(176deg, rgba(30, 30, 31, 0.616) 33%, #646464 34%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.nav img {

    width:80px;
    height: 80px;
    border-radius: 50%;
    transform: translate(-12%, 3%); 
    transition: transform 0.3s ease;
    margin-left: 20px;
}

.nav img:hover {
    transform: scale(1.1);
}

.logoh1{

    font-family: sans-serif;
    color: white;
    text-shadow: 5px 5px rgb(43, 46, 43);
    animation: fadeIn 5s infinite normal ease;
    margin: 10px;
}

#headerul {

    list-style-type: none;
    text-align: center;
    align-items: center;
}

#headerli {
    display: inline-block;
    margin: 5px;
    padding: 15px;
    font-size: 14px;
    line-height: 2;
    border-radius: 5px;


}

#headera {
    color: rgb(43, 38, 38);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#headerli:hover {
    color: white;
    background-color: rgb(102, 126, 120);
}

#headerdiv {
    display: none;
    position: absolute;
    z-index: 1;
    width: 15%;
}

#headerdiv a {
    display: block;
}

#headerli:hover #headerdiv {
    display: block;
    background-color:  rgb(102, 126, 120);
}

#headerdiv a:hover {
    background-color: rgb(149, 153, 152);
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
table {
    height: 200px;
    width: 100%;
}

aside {
    width: 20%;
    display: flex ;
    flex-direction: column;
    background-color: rgba(218, 218, 218, 0.945);
}



aside table {
    height: 100px;
    background-color: rgb(255, 255, 255);
}

#mainhome table {
    margin: 20px;
    width: 95%;
    float: left;
    height: 200px;
}
.mainvisian h1,.mainvisian p{
    color: black;
    text-align: left;
    line-height: 2 ;
    font-variant: all-petite-caps;


}
table thead {
    background-color: rgb(56, 133, 196);
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-variant: all-petite-caps;
}

table td {
    padding: 3px;
}

table tbody {
    /* background-color: rgb(255, 255, 255); */
    color: rgb(112, 102, 107);
    text-align: center;
    font-variant: all-petite-caps;
    box-shadow: 0px 0px 3px 3px rgb(255, 255, 255);
}

table input {
    padding: 5px;
    width: 100%;
    /* border: 2px solid rgb(146, 121, 121); */
}
table input:hover {
    background-color: rgb(196, 225, 226);
}
table input:focus {
    background-color: rgba(196, 225, 226, 0.356);
    color: rgb(5, 5, 5);
}



#FOLWUS {
    width: 100%;
    align-content: center;
}

#FOLWUS img {
    cursor: pointer;
    width: 50px;
    border-radius: 50%;
}


textarea{
    width: 100%;
    height: 100px;
    
}



#asideform h1 {
    color: rgb(24, 22, 22);
    line-height: 3;
    text-align: center;
}

#asideform h1:hover {
    text-shadow: 1px 1px #93d1d9;
}

input {
    width: 100%;
    transition-duration: 2s;
    border: 2px groove rgb(146, 121, 121);
    background-color: rgb(234, 235, 236);
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}



label {
    color: black;
    font-size: 20px;
    text-align: center;
    float: left;
    display: block;
    width: 35%;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    height: 32px;
}
select{
    width: 100%;
    height: 32px;
    border: 2px groove rgb(146, 121, 121);
    background-color: rgb(234, 235, 236);
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}


.asideformdiv {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    height: 1000px;
    background-color: rgba(193, 203, 207, 0.712);
    width: 80%;
    float: right;
}



.maindiv {
    float: left;
    height: 400px;
    width: 30%;
    margin-left: 3%;
    margin-top: 20px;
    text-align: justify;
}

.maindiv img {
    width: 100%;
    border-radius: 5px;
    height: 200px;
    filter: invert(10%);
}




#box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
}

#box h1 {
    color: whitesmoke;
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

#box #home {
    color: black;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

#box #home a {
    color: black;
}

#box #home:hover {
    text-align: center;
    text-shadow: 5px 5px rgb(243, 247, 3);
}

#mainhome table tbody tr td:hover {
    color: blue;
    background-color: rgb(253, 250, 67);
}

#mainhome table tbody tr td:hover input {
    cursor: pointer;
}

iframe{
    width: 100%;
    height: 500px;
    margin-top: 20px;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    
  .main {
    flex-direction: column;
  }


    aside {
        width: 100%; /* Make aside take up full width on smaller screens */
    }
    main {
        width: 100%; /* Make main take up full width on smaller screens */
    }
    iframe {
        width: 100%; /* Make iframe take up full width on smaller screens */
    }
    table {
        width: 100%; /* Make table take up full width on smaller screens */
    }
}

